.first
{
    height: 93%;
    width: 75%;
    /* border: 1px solid black; */
    border-radius: 20px;
    margin-left: 6%;
    background-image: url('../../../public/assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: 112%;
    background-position-y: -150px;
    background-position-x: center;
}